<!DOCTYPE html>
	<head>
		<TITLE>Shuttershock Productions</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"> -->

		<!-- <script src="js/jquery-1.9.1.min.js"></script> -->

		<script>
    		$(function(){
      			$("#slides").slidesjs({ width: 1080, height: 720});
    		});
  		</script>
	</head>
	<body>

		<style type="text/css">
			@font-face {font-family: "Neutrabold"; src: url("<%= asset_path('neutrasc.otf') %>") format("truetype");}
		</style>

		<header class='header' role='banner'>
			
			<nav role='navigation' class='top-navigation'>
				
				<ul class='nav'>
					<li><a href="work.html" >work</a></li>
					<li><a href="facilities.html" >facilities</a></li>
					<li><a href="index.html" class='logo'><%= image_tag "logo_text_color.png", {:alt => 'Shuttershock Productions', :title => 'Shuttershock Productions'}%></a></li>
					<li><a href="clients.html" >clients</a></li>
					<li><a href="contact.html" >contact</a></li>
				</ul>				
			</nav>
			
		</header>

		<div class= 'wrapper'>
			<div class ='text-container'>
				<h4>Using state-of-the-art audio and video equipment, we provide our clients with innovative branding tools for today's fast-paced advertising world.</h4>
			</div>
			<div class= 'container'>
				<div id="slides">
    			<%= image_tag 'facilities_1.png'%>
    			<%= image_tag 'facilities_2.png'%>
    			<%= image_tag 'facilities_3.png'%>
    			<%= image_tag 'facilities_4.png'%>
    			<a href="#" class="slidesjs-previous slidesjs-navigation"><h4>previous</h4></a>
      		<a href="#" class="slidesjs-next slidesjs-navigation"><h4>next</h4></a>
  			</div>
  		</div>

  		<div class='text-container'>
  			<h4>Our creative, sincere approach to marketing will highlight your pre-existing esthetic whether you are an independent artist looking for publicity, or a multinational corporation working on an ad campaign. Our facilities include a professional digital/analog audio recording studio, suitable for bands and ensembles of all types with two full time, ProTools certified, engineers on staff.  The recording studio includes four isolation rooms, making it a perfect spot for live audio recordings.  In addition to the high-quality recording facilities, we also have two full video editing bays, with full time editors, cinematographers, writers, directors and producers on staff.  Aside from our top-of-the-line studio facilities, we also have a premier audio/video field recording kit, perfect for reality television production and short films. Please check out our equipment list below for more details.
  			</h4>
  		</div>

      <div class='list-select'>
        <h2 class='audio-toggle nav'>audio gear list</h2>
        <h2 class='video-toggle nav'>video gear list</h2>
      </div>

  		<div id='audio-list'>
        <div class='equipment-list'> 	
  				<ul>
  				  <li><h4>A/D/A Converters</h4>
              <ul>
  						  <li>Alesis Masterlink 9600</li>
  						  <li>Mac Pro (Two 3.0 GHz Quad-Core, 2G of RAM)</li>
  						  <li>SSL Alpha Link MADI SX Audio Converter</li>
  						  <li>Universal Audio 2192 Master Audio Interface</li>
              </ul>
  				  </li>
  				  <li><h4>Out Board Preamps</h4>
              <ul>
						    <li>API 500B6 Lunchbox</li>
						    <li>Avedis Audio MA5</li>
						    <li>Brent Averill 312 (2)</li>
  						  <li>Purple Audio Biz Mk</li>
  						  <li>Summit Audio 2BA-221</li>
  						  <li>Sytek MPX-4Aii Four Channel Pre w/ Burr Brown Mod</li>
  						  <li>Universal Audio 2-610 Dual Channel Tube Preamplifier</li>
              </ul>
  				  </li>
  				  <li><h4>Signal Processing</h4>
              <ul>
  						  <li>Avedis E27 EQ (2)</li>
  						  <li>Empirical Labs EL8X Disstresso Sterio Pair w/ British Mod & I link</li>
  						  <li>Empirical Labs Fatso Jr</li>
  						  <li>Manley ELOP Optical Compressor</li>
  						  <li>MOTU Plug-ins</li>
  						  <li>Neve Portico 5043 Duo Compressor Limiter</li>
  						  <li>Toft ATB Parametric EQ (24)</li>
  						  <li>Universal Audio Expert Pak Plug-ins</li>
  						  <li>Waves Plug-ins</li>
              </ul>
  				  </li>
  				  <li><h4>Monitoring</h4>
              <ul>
  						  <li>Barefoot Sound MicroMain 35</li>
  						  <li>Beyerdynamic DT 770</li>
  						  <li>Dynaudio BM 5A monitors</li>
  						  <li>HA800 8 CH Headphone Amp</li>
  						  <li>Sennheiser HD 280's</li>
  						  <li>Vic Firth Isolation Head Phones (3)</li>
              </ul>
  				  </li>
          </ul>
  		  </div>
  		  <div class='equipment-list'>
          <ul>
  				  <li><h4>Console</h4>
              <ul>
  						  <li>Toft ATB 24A</li>
              </ul>
  				  </li>
  				  <li><h4>Microphones</h4>
              <ul>
  						  <li>AKG 112</li>
  						  <li>Audio-Technica 4040</li>
  						  <li>Cascade Fathead II stereo pair w/ Lundahl mod</li>
  						  <li>Mojave M-200</li>
  						  <li>Mojave M-100 stereo pair</li>
  						  <li>Oktava MK012 w/multi pat capsules (2)</li>
  						  <li>Royer R122 Active Ribbon</li>
  						  <li>Sennheiser e853</li>
  						  <li>Sennheiser MD 421 II (2)</li>
  						  <li>Shure Beta 52</li>
  						  <li>Shure KSM 44</li>
  						  <li>Shure KSM 141</li>
  						  <li>Shure SM57 (3)</li>
  						  <li>Shure SM58</li>
  						  <li>Shure SM7B</li>
  						  <li>Sterling Audio 33</li>
  						  <li>Telefunken R-F-T AK47</li>
              </ul>
  				  </li>
  				  <li><h4>Amps/Instrusments</h4>
              <ul>
  						  <li>Ampeg 4x10</li>
  						  <li>Ampeg SVT-VR</li>
  						  <li>Fender Delux</li>
  						  <li>Fender Marcus Miller Bass</li>
  						  <li>Fender USA Stratocaster</li>
  						  <li>Ibanez Prestige Bass</li>
  						  <li>Marshall 4X12 1960A</li>
  						  <li>Mesa/Boogie Mark III</li>
  						  <li>A large array of bass and guitar pedals</li>
              </ul>
  				  </li>
          </ul>
  		  </div>
        <div class='list-select container clearfix'>
          <h2 class='audio-toggle nav'>close</h2>
        </div>
      </div>
  	</div> 

    <div id='video-list'>
  		<div class='equipment-list'>
  			<ul>
  				<li><h4>Cameras 4</h4>
  					<ul>
  						<li>Canon 5D MRKIII DSLR (2)</li>
  						<li>Optional Magic Lantern raw video capability</li>
  						<li>Canon 5D MRKII DSLR (1)</li>
  						<li>Canon 7D DSLR (2)</li>
  					</ul>
  				</li>
  				<li><h4>Canon Lenses 7</h4>
  					<ul>
						  <li>L-series 5 17-40mm</li>
						  <li>24-70mm</li>
						  <li>50mm</li>
  						<li>100mm macro</li>
  						<li>150mm</li>
  						<li>70-200mm</li>
  						<li>300-500mm</li>
  					</ul>
  				</li>
  				<li><h4>Support 6</h4>
  					<ul>
  						<li>Freefly Movi handheld 3-axis digital stabilizer gimbal</li>
  						<li>Shoulder mount w/ follow focus and top handle support</li>
  						<li>Glidecam</li>
  						<li>Kessler Pocket Dolly v2.0 38.5"</li>
  						<li>Manfrotto tripod (2)</li>
  						<li>Manfrotto monopod</li>
  					</ul>
  				</li>
  			</ul>
  		</div>

  		<div class='equipment-list'>
  			<ul>
  				<li><h4>Lighting 4</h4>
  					<ul>
  						<li>Lighting kit with Manfrotto support</li>
  						<li>12x led boards with v-mount battery system</li>
  						<li>5x florissant box lights</li>
  						<li>Manfrotto backdrops (black/white/green)</li>
  					</ul>
  				</li>
  				<li><h4>Audio 3</h4>
  					<ul>
  						<li>Echo AudioFire 12 interface</li>
  						<li>Mic package</li>
  						<li>Olympus LS-100 portable audio recorder</li>
  					</ul>
  				</li>
  				<li><h4>Computers 5</h4>
  					<ul>
  						<li>Black Magic ATEM Production Studio 4k</li>
  						<li>2013 iMac 3.4 GHz Intel Core i7 32GB RAM</li>
  						<li>15-inch Retina Macbook Pro 2.7 GHz Intel Core i7</li>
  						<li>Mac Mini 2.0 GHz Intel Core i7 8GB RAM</li>
  						<li>12TB Pegasus Thunderbolt Drive</li>
  					</ul>
  				</li>
  				<li><h4>Software 3</h4>
  					<ul>
  						<li>Final Cut Pro X</li>
  						<li>Adobe Production Premium</li>
  						<li>Pro-Tools 10</li>
  					</ul>
  				</li>
  			</ul>
  		</div>
      <div class='list-select container clearfix'>
          <h2 class='video-toggle nav'>close</h2>
      </div>
    </div>

    <script>
      $(function(){
        $('.audio-toggle').click(function(){
          $('#video-list').hide(500);
          $('#audio-list').toggle(500);
        });
        $('.video-toggle').click(function(){
          $('#audio-list').hide(500);
          $('#video-list').toggle(500);
        });
      });
    </script>

		<script>
    		$(function() {
      			$('#slides').slidesjs({
        			width: 720,
        			height: 480,
        			navigation: {effect: "fade"},
        			pagination: {effect: "fade"},
        			effect: {fade: {speed: 400}}
      			});
    		});
  		</script>
  		
		<nav role='navigation' class='bottom-navigation clearfix'>
			<a href="index.html"><%= image_tag 'logo_icon.jpg', {:alt => 'Shuttershock Productions', :title => 'Shuttershock Productions'}%></a>
			<div class='social nav'>
				<a href="https://www.facebook.com/ShutterShockProductions" target='_blank'>facebook</a>
				<a href="https://twitter.com/ShutterShockVid" target='_blank'>twitter</a>
				<a href="http://vimeo.com/kevw85" target='_blank'>vimeo</a>
				<a href="https://youtube.com" target='_blank'>youtube</a>
			</div>
			<p class='copyright'>
				&copy; 2013 shuttershock productions
			</p>
		</nav>