<!DOCTYPE html>
	<head>
		<TITLE>Shuttershock Productions</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css"> -->

		<!-- <script src="js/jquery-1.9.1.min.js"></script> -->


	</head>
	<body>

		<style type="text/css">
			@font-face {font-family: "Neutrabold"; src: url("<%= asset_path('neutrasc.otf') %>") format("truetype");}
		</style>

		<header class='header' role='banner'>
			
			<nav role='navigation' class='top-navigation'>
				
				<ul class='nav'>
					<li><a href="work.html" >work</a></li>
					<li><a href="facilities.html" >facilities</a></li>
					<li><a href="index.html" class='logo'><%= image_tag "logo_text_color.png" %></a></li>
					<li><a href="clients.html" >clients</a></li>
					<li><a href="contact.html" >contact</a></li>
				</ul>				
			</nav>
			
		</header>
		
		<div class='construction'>
			<h2>Page under development.<br>Check back soon.</h2>
			<%= image_tag 'construction_logo.png'%>
		</div>

		<nav role='navigation' class='bottom-navigation'>
			<a href="index.html"><%= image_tag 'logo_icon.jpg'%></a>
			<div class='social nav'>
				<a href="https://www.facebook.com/ShutterShockProductions" target='_blank'>facebook</a>
				<a href="https://twitter.com/ShutterShockVid" target='_blank'>twitter</a>
				<a href="http://vimeo.com/kevw85" target='_blank'>vimeo</a>
				<a href="https://youtube.com" target='_blank'>youtube</a>
			</div>
			<p class='copyright'>
				&copy; 2013 shuttershock productions
			</p>
		</nav>