<!DOCTYPE html>
	<head>
		<TITLE>Shuttershock Productions</TITLE>
		<!-- <LINK REL="SHORTCUT ICON" HREF="/favicon.ico" /> -->
		<%= favicon_link_tag 'favicon.ico' %>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :all %>
		


	</head>
	<body>

		<style type="text/css">
			@font-face {font-family: "Neutrabold"; src: url("<%= asset_path('neutrasc.otf') %>") format("truetype");}
		</style>

		<header class='header' role='banner'>
			
			<nav role='navigation' class='top-navigation'>
			
				<ul class='nav'>
					<li><a href="work.html" >work</a></li>
					<li><a href="facilities.html" >facilities</a></li>
					<li><a href="index.html" class='logo'><%= image_tag "logo_text_color.png", {:alt => 'Shuttershock Productions', :title => 'Shuttershock Productions'}%></a></li>
					<li><a href="clients.html" >clients</a></li>
					<li><a href="contact.html" >contact</a></li>
				</ul>
				
			</nav>
			
		</header>

		<div class='wrapper'>
			<div class='featured-video'>
				<div class='video-box'>
					<iframe src="http://player.vimeo.com/video/<%= @recent.first["id"] %>"
						width="800" height="450" style="border: 0px;" 
						webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
					</iframe>
				</div>
			</div>
			<h1>specializing in high quality audio, video production.</h1>
		</div>


		<nav role='navigation' class='bottom-navigation'>
			<a href="index.html"><%= image_tag 'logo_icon.jpg', {:alt => 'Shuttershock Productions', :title => 'Shuttershock Productions'}%></a>
			<div class='social nav'>
				<a href="https://www.facebook.com/ShutterShockProductions" target='_blank'>facebook</a>
				<a href="https://twitter.com/ShutterShockVid" target='_blank'>twitter</a>
				<a href="http://vimeo.com/kevw85" target='_blank'>vimeo</a>
				<a href="http://www.youtube.com/channel/UCKox4Na5EzjIUcSz6PybIrg" target='_blank'>youtube</a>
			</div>
			<p class='copyright'>
				&copy; 2013 shuttershock productions
			</p>
		</nav>
		
	</body>
</html>