<!DOCTYPE html>
	<head>
		<TITLE>Shuttershock Productions</TITLE>
		<!-- <LINK REL="SHORTCUT ICON" HREF="/favicon.ico" /> -->
		<%= favicon_link_tag 'favicon.ico' %>
		
		


	</head>
	<body>

		<style type="text/css">
			@font-face {font-family: "Neutrabold"; src: url("<%= asset_path('neutrasc.otf') %>") format("truetype");}
		</style>

		<header class='header' role='banner'>
			
			<nav role='navigation' class='top-navigation'>
			
				<ul class='nav'>
					<li><a href="work.html" >work</a></li>
					<li><a href="facilities.html" >facilities</a></li>
					<li><a href="index.html" class='logo'><%= image_tag "logo_text_color.png", {:alt => 'Shuttershock Productions', :title => 'Shuttershock Productions'}%></a></li>
					<li><a href="clients.html" >clients</a></li>
					<li><a href="contact.html" >contact</a></li>
				</ul>
				
			</nav>
			
		</header>

		<div class='featured-video'>
			<div class='video-box'>
				<iframe id="video_player" src="http://player.vimeo.com/video/<%= @recent.first["id"] %>" 
					width="800" height="450" style="border: 0px;" 
					webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
				</iframe>
			</div>
		</div>



		<div class='album-collection'>

			<div id='work-albums'>
				<div class='albums nav'>
					<%= image_tag 'logo_tiny.png'%>
					<h2 class='recent-button'>recent</h2>
					<h2 class='arts-button'>arts</h2>
					<h2 class='corporate-button'>corporate</h2>
					<h2 class='live-button'>live</h2>
					<%= image_tag 'logo_tiny.png'%>
				</div>
			</div>


			<div class='vid-row' id='recent'>
				<% @recent.each do |clip| %>
					<div class='video-select'>
						<div class='album-video'>
							<%= image_tag clip["thumbnail_large"], {:class => 'thumbnail', :id => clip["id"] }%>
							<h3><%= clip["title"] %></h3>
						</div>
						<!--<%= link_to clip["description"], :class => 'album-info', :id => clip["id"] %>-->
						<div class='album-info' id="<%= clip["id"]%>"><p><%= clip["description"]%></p></div>
						<!-- <a href="#" class='album-info' id="<%= clip["id"]%>" ><p><%= clip["description"]%></p></a> -->
					</div>
				<% end %>
			</div>
			<div class='vid-row' id='arts'>
				<% @arts.each do |clip| %>
					<div class='video-select'>
						<div class='album-video'>
							<%= image_tag clip["thumbnail_large"], {:class => 'thumbnail', :id => clip["id"] }%>
							<h3><%= clip["title"] %></h3>
						</div>
						<!--<%= link_to clip["description"], :class => 'album-info', :id => clip["id"] %>-->
						<div class='album-info' id="<%= clip["id"]%>"><p><%= clip["description"]%></p></div>
						<!-- <a href="#" class='album-info' id="<%= clip["id"]%>" ><p><%= clip["description"]%></p></a> -->
					</div>
				<% end %>
			</div>
			<div class='vid-row' id='corporate'>
				<% @corporate.each do |clip| %>
					<div class='video-select'>
						<div class='album-video'>
							<%= image_tag clip["thumbnail_large"], {:class => 'thumbnail', :id => clip["id"] }%>
							<h3><%= clip["title"] %></h3>
						</div>
						<!--<%= link_to clip["description"], :class => 'album-info', :id => clip["id"] %>-->
						<div class='album-info' id="<%= clip["id"]%>"><p><%= clip["description"]%></p></div>
						<!-- <a href="#" class='album-info' id="<%= clip["id"]%>" ><p><%= clip["description"]%></p></a> -->
					</div>
				<% end %>
			</div>
			<div class='vid-row' id='live'>
				<% @live.each do |clip| %>
					<div class='video-select'>
						<div class='album-video'>
							<%= image_tag clip["thumbnail_large"], {:class => 'thumbnail', :id => clip["id"] }%>
							<h3><%= clip["title"] %></h3>
						</div>
						<!--<%= link_to clip["description"], :class => 'album-info', :id => clip["id"] %>-->
						<div class='album-info' id="<%= clip["id"]%>"><p><%= clip["description"]%></p></div>
						<!-- <a href="#" class='album-info' id="<%= clip["id"]%>" ><p><%= clip["description"]%></p></a> -->
					</div>
				<% end %>
			</div>
		</div>

		<script>
      		$(function(){
        		$('.recent-button').click(function(){
          			$('#arts').fadeOut(800);
          			$('#corporate').fadeOut(800);
          			$('#live').fadeOut(800, function(){
          				$('#recent').delay(800).fadeIn(800);	
          			});
        		});
				$('.arts-button').click(function(){
          			$('#recent').fadeOut(800);
          			$('#corporate').fadeOut(800);
          			$('#live').fadeOut(800, function(){
          				$('#arts').delay(800).fadeIn(500);	
          			});
        		});
        		$('.corporate-button').click(function(){
          			$('#recent').fadeOut(800);
          			$('#arts').fadeOut(800);
          			$('#live').fadeOut(800, function(){
          				$('#corporate').delay(800).fadeIn(800);
          			});
        		});
        		$('.live-button').click(function(){
          			$('#recent').fadeOut(800);
          			$('#corporate').fadeOut(800);
          			$('#arts').fadeOut(800, function(){
          				$('#live').delay(800).fadeIn(800);	
          			});
        		});
      		});
    	</script>

		<script type="text/javascript">
				// $('html, body').delay(1200).animate({scrollTop: $(document).height()-$(window).height()}, 800, "swing");
				$('.album-info').click(function(){
					var $url = $(this).attr('id');
					$('iframe').attr('src',"http://player.vimeo.com/video/" + $url + "?autoplay=1");
					$("html, body").delay(800).animate({ scrollTop: 0 }, "slow");
				});
				
		</script>


		<nav role='navigation' class='bottom-navigation'>
			<a href="index.html"><%= image_tag 'logo_icon.jpg', {:alt => 'Shuttershock Productions', :title => 'Shuttershock Productions'}%></a>
			<div class='social nav'>
				<a href="https://www.facebook.com/ShutterShockProductions" target='_blank'>facebook</a>
				<a href="https://twitter.com/ShutterShockVid" target='_blank'>twitter</a>
				<a href="http://vimeo.com/kevw85" target='_blank'>vimeo</a>
				<a href="http://www.youtube.com/channel/UCKox4Na5EzjIUcSz6PybIrg" target='_blank'>youtube</a>
			</div>
			<p class='copyright'>
				&copy; 2013 shuttershock productions
			</p>
		</nav>
		
	</body>
</html>